:not(:defined) > * {
  display: none;
}

h1 {
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "times";
}
h2 {
  font-size: 12px;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "times";
}

*/ :host {
  position: relative;
  contain: strict;
  justify-content: center;
}

model-viewer {
  background-color: #000000;
  position: relative;
  contain: strict;
  margin-left : auto;
  margin-right : auto;
  height: 600px;
  width: auto;
}


.Hotspot {
  background: transparent;
  border-radius: 32px;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 2px solid #ffffff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
  opacity: 0;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Times;
  font-size: 11px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  width: max-content;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}


