:not(:defined) > * {
  display: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 85vh;
  place-items: center;
  margin: 0;
}

.square1 {
  height: 10vw;
  width: 15vh;
  left: 95vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 8;
}

.square2 {
  height: 15vmin;
  width: 30vw;
  left: 70vw;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

.square3 {
  height: 9vh;
  width: 15vw;
  left: 60vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 6;
}

.square4 {
  height: 5vh;
  width: 5vh;
  left: 85.25vw;
  top: 1vh;
  background-color: #030c8a;
  position: absolute;
  z-index: 8;
}

.square10 {
  height: 10vw;
  width: 15vh;
  left: 15vh;
  background-color: #c95410;
  position: absolute;
  z-index: 8;
}

.square100 {
  height: 8vw;
  width: 5vh;
  left: 75vh;
  background-color: #c95410;
  position: absolute;
  z-index: 8;
}

.square20 {
  height: 15vmin;
  width: 30vw;
  left: 0vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 6;
}

.square30 {
  height: 6vh;
  width: 6vh;
  left: 3vw;
  top: 4vh;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

.square40 {
  height: 6vh;
  width: 6vh;
  left: 21vw;
  top: 1vh;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

.square11 {
  height: 10vw;
  width: 5vh;
  left: 0vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 8;
}

.square21 {
  height: 15vmin;
  width: 30vw;
  left: ;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

.square31 {
  height: 9vh;
  width: 15vw;
  left: 25vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 6;
}

.square41 {
  height: 6vw;
  width: 6vw;
  left: 6vw;
  top: 1vh;
  background-color: #030c8a;
  position: absolute;
  z-index: 8;
}

.square12 {
  height: 10vw;
  width: 5vh;
  left: 75vw;
  background-color: #c95410;
  position: absolute;
  z-index: 8;
}

.square122 {
  height: 10vw;
  width: 5vh;
  left: 75vh;
  background-color: #c95410;
  position: absolute;
  z-index: 8;
}

.square22 {
  height: 15vmin;
  width: 30vw;
  left: 70vw;
  background-color: #030c8a;
  position: absolute;
  z-index: 6;
}

.square32 {
  height: 6vh;
  width: 6vh;
  left: 90vw;
  top: 3vh;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

.square42 {
  height: 6vh;
  width: 6vh;
  left: 60vw;
  top: 1vh;
  background-color: #c95410;
  position: absolute;
  z-index: 7;
}

h1 {
  font-size: 14pt;
  color: #030c8a;
  font-family: "Palatino";
  font-weight: 700;
  z-index: 11;
  position: relative;
  background-color: #f4eedc;
  text-align: center;
}

h1.title {
  font-size: 2vw;
  color: #f4eedc;
  content-align: center;
  text-align: center;
  vertical-align: middle;
  font-family: "Palatino";
  font-weight: 700;
  z-index: 10;
  height: 4vw;
  width: 22vw;
  top: 5vmin;
  left: 62vw;
  border: solid;
  border-color: #f4eedc;
  background-color: #030c8a;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1.subtitle {
  font-size: 1.5vw;
  color: #030c8a;
  content-align: center;
  text-align: center;
  vertical-align: middle;
  font-family: "Palatino";
  font-weight: 700;
  z-index: 10;
  height: 3vw;
  width: 8vw;
  top: 14vmin;
  left: 89vw;
  border: solid;
  border-color: #030c8a;
  background-color: #f4eedc;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1.title2 {
  font-size: 2vw;
  color: #f4eedc;
  content-align: center;
  text-align: center;
  vertical-align: middle;
  font-family: "Palatino";
  font-weight: 700;
  z-index: 10;
  height: 4vw;
  width: 22vw;
  top: 5vmin;
  left: 15vw;
  border: solid;
  border-color: #f4eedc;
  background-color: #030c8a;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1.subtitle2 {
  font-size: 1.5vw;
  color: #030c8a;
  content-align: center;
  text-align: center;
  vertical-align: middle;
  font-family: "Palatino";
  font-weight: 700;
  z-index: 10;
  height: 3vw;
  width: 8vw;
  top: 14vmin;
  left: 3vw;
  border: solid;
  border-color: #030c8a;
  background-color: #f4eedc;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 1vw;
  padding-right: 1vw;
}

h2 {
  font-size: 12pt;
  color: #030c8a;
  font-family: "palatino";
  font-weight: 500;
  z-index: 11;
  position: relative;
  background-color: #f4eedc;
}

h3 {
  font-size: 10pt;
  color: #030c8a;
  /* margin-top: 5px;
  margin-left: 10vw;
  margin-right: 10vw;*/
  font-family: "palatino";
  font-weight: 500;
  z-index: 11;
  background-color: #f4eedc;
  position: relative;
}

h4 {
  font-size: 2vmax;
  color: #030c8a;
  /* margin-top: 40px;
  margin-left: 10vw;
  margin-right: 10vw;*/
  font-family: "Palatino";
  font-weight: 700;
  z-index: 11;
  background-color: #f4eedc;
  position: relative;
}

a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: none;
  border-bottom: 0px solid var(--color-primary);
  transition: background 0.2s linear;
  color: #030c8a;
}

img {
  min-width: 30vmax;
  width: 30vw;
  height: auto;
  margin-right: 3vw;
  margin-left: 3vw;
  border: solid;
  border-color: #030c8a;
  border-width: 4px;
}

img.necro {
  min-width: 25vmax;
  width: 25vw;
  height: auto;
  margin-right: 1vw;
  margin-left: 1vw;
  border: solid;
  border-color: #030c8a;
  border-width: 4px;
}

img.cc {
  min-width: 0;
  width: 5vw;
  height: auto;
  margin-right: 1vw;
  margin-left: 1vw;
  border: solid;
  border-color: #030c8a;
  border-width: 4px;
}

img.leaflet-image-layer.leaflet-zoom-animated {
  border: none;
}

div.img.container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img.float {
  position: relative;
  z-index: 12;
  float: left;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
  min-width: 0;
  width: 100%;
  height: auto;
}

div.float {
  position: relative;
  z-index: 12;
  float: left;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0;
  margin-right: 3vmax;
  margin-bottom: 1vmax;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 50vmin;
  height: auto;
}

*/ :host {
  position: relative;
  contain: strict;
  justify-content: center;
}

model-viewer {
  background-color: #f4eedc;
  position: relative;
  contain: strict;
  height: 20vmax;
  width: 25vw;
  z-index: 12;
  display: inline-block;
}

div.modelviewer {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  flex-wrap: wrap;
  border-top: 1px solid #030c8a;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 35vw;
  width: 35vw;
  min-width: 35vw;
  z-index: 12;
  display: inline-block;
  margin-right: 3vw;
  margin-bottom: 2vw;
  margin-top: 0;
  float: left;
  border: solid;
  border-color: #030c8a;
  border-width: 4px;
  background-clip: content-box;
}

video {
  min-width: 25vmax;
  width: 25vw;
  height: auto;
  z-index: 12;
  background-clip: content-box;
  position: relative;
  border: solid;
  border-color: #030c8a;
  border-width: 4px;
  margin-right: 3vw;
  margin-left: 3vw;
}

.iframe.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 45vw;
  margin: auto;
}

div.leaflet-popup-content-wrapper {
  background-color: #f4eedc;
  border: solid;
  border-color: #c95410;
}

div.leaflet-popup-tip {
  background: none;
}

div.leaflet-popup-tip-container {
  background: none;
}

div.leaflet-popup-content {
}

.leaflet-popup-content {
}

div.leaflet-popup {
  width: 20vmax;
}
