model-viewer {
  width: 800px;
  height: 600px;
}

.hotspot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
  pointer-events: none;
}

.hotspot[slot="hotspot-3"] {
  --min-hotspot-opacity: 0;
  background-color: red;
}

.hotspot[slot="hotspot-2"]:not([data-visible]) {
  background-color: transparent;
  border: 3px solid blue;
}

.annotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

h2 {
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  font: ;
}
